@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-white font-sans antialiased;
  }

  @media print {
    body {
      background: white;
      color: rgb(24, 1, 1);
    }
    body * {
      visibility: hidden;
    }
    .print-only, .cv-print {
      visibility: visible;
    }
    .cv-print {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
}
